/************ JS ************/

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/************ BODY ************/

body {
    background-color: #E5C7DB;
}

h1
{
    font-family: 'Raleway', sans-serif;
    font-size: 3vw;
    font-weight: 100%;
    color: white;
    margin-left: 5%;
    text-align: center;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 3vw;
    font-weight: 100%;
    color: white;
    margin-left: 5%;
}

#info_animation h1, h2 {
    text-align: center;
}


.all {
    margin: 5vw;
    padding: 30vw;

}


div {
    margin: .3vw;
}

img {
    width: 100%;
}
.assign {
    display:block;
    margin-left:20px;
    font-family: 'Old Standard TT';
    font-size:150%;
}

.assign {
    text-decoration:none;
    color: darkorange;
}

a {
    color: white;
}

p a:hover {
    font-weight: 600;
}

/************ MENU ************/

/*
#menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/2;
    height: 800px;

}
*/

.menu{
    display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .box1{
        grid-column: 1/2;
    }
    .box2{
        grid-column: 2/-1;
        grid-row:;
    height:800px;
    width:auto;
}

#button {
    display: block;
    margin: auto;
    margin-top: 125px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2vw;
    font-family: 'Raleway', sans-serif;
    border: 3px white solid;
    padding: 1vw;
    background: 100%;

}

#button a {
    text-decoration: none;
    color: white;

}

@media only screen and (max-width: 80em), (min-width: 50em) {
    .web {
        background: url(web.png);
        background-repeat: no-repeat;
        background-size: 110%;
        height: 300px;
        border: 2px solid white;
    }
}


@media only screen and (max-width: 80em), (min-width: 50em) {
    .animation {
        background: url(food.png);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 300px;
        border: 2px solid white;
    }
}

@media only screen and (max-width: 80em), (min-width: 50em) {
    .sex {
        background: url(piger.png);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 300px;
        border: 2px solid white;
    }
}

@media only screen and (max-width: 80em), (min-width: 50em) {
    .everyday_1 {
background-color: #FF404A;
        background-repeat: no-repeat;
        background-size: 120%;
        height: 300px;
        border: 2px solid white;
    }
}

@media only screen and (max-width: 80em), (min-width: 50em) {
    .joe_juice {
                background: url(baggrund_2-kopi.jpg);

        background-repeat: no-repeat;
        background-size: 100%;
        height: 300px;
        border: 2px solid white;
    }
}

@media only screen and (max-width: 80em), (min-width: 50em) {
    .mckluud_1 {
        background: url(wood-kopi.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 300px;
        border: 2px solid white;
    }
}

@media only screen and (max-width: 80em), (min-width: 50em) {
    .keaapp_1 {
        background-color:  #FF4E62;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 300px;
        border: 2px solid white;
    }
}


/************ PORTFOLIO JOE ************/

#joe_wrapper {
    display: flex;
    flex-wrap: wrap;
}

#joe_2 {
    order: 2;
}

#joe_1 {
    order: 1;
}

#joe_wrapper p {
    color: white;
    margin-left: 5%;

}

#joe_wrapper b {
    font-size: 1.5vw;
    margin-left: 5%;
    color: white;
}

#joe_wrapper i {
    font-size: 1.1vw
}

.pic_joe {
    width: 60%;
    height: 60%;
    image-orientation: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}


/************ PORTFOLIO GENERELT ************/

#portfolio_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}

#portfolio_wrapper p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1vw;
    margin-bottom: 35px;
}



/************ PORTFOLIO ANIMATION ************/
#animation_wrapper h1 {
    align-items: center;
}

#animation_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#info_animation, .pic {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}

#animation_wrapper h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


ani_column {
    width: 100%;
    flex-basis: 300px;
    flex-grow: 1;
    position: relative;
    top: 50px;
    margin: 0 50px;
}

#info_animation, .top {
    display: flex;
    flex-wrap: wrap;
}

#info_animation, .buttom {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse; }

#animation_wrapper p {
    color: white;
    margin-left: 5%;
}

#animation_wrapper b {
    font-size: 1.5vw;
    margin-left: 5%;
    color: white;
}

#animation_wrapper i {
    font-size: 1.1vw
}

/************ PORTFOLIO STREET STYLE ************/


#info_streetstyle,
.pic_frame {
    width: 100%;

}

#info_streetstyle,
.pic {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;

}


/************ PORTFOLIO EVERYDAY ************/

.video {
    width: 56vw;
    height: 100%;
    display: flex;
    align-items: center;
    left: 50vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 19%;

}

.video iframe {
    width: 100%;
}

@media only screen and (max-width: 560px) {
    .video {
        width: 50vw;
        height: auto;
    }
}

#everyday_wrapper p {
    color: white;
    margin-left: 5%;

}

#everyday_wrapper b {
    font-size: 1.1vw;
    margin-left: 5%;
    color: white;
}

#everyday_wrapper i {
    font-size: 1.1vw;
    margin-left: 35vw;
}

#everyday_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}

.info_everyday {
    display: flex;
    flex-wrap: wrap;
}
.everyday_coloumn {
    width: 50%;
    flex-basis: 300px;
    flex-grow: 1;
    position: relative;
    top: 50px;
    margin: 0 50px;

}

#everyday_2 {
    order: 2;
}

#everyday_1 {
    order: 1;
}

/************ PORTFOLIO Pritvat snak ************/

.pic_frame {
    width: 60%;
    height: 60%;

}

.portfolio_info h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sx_wrapper {
    display: flex;
    flex-wrap: wrap;
}

#sx_2 {
    order: 2;
}

#sx_1 {
    order: 1;
}

#sx_wrapper p {
    color: white;
    margin-left: 5%;
}

#sx_wrapper b {
    font-size: 1.5vw;
    margin-left: 5%;
    color: white;
}

#sx_wrapper i {
    font-size: 1.1vw
}


/************ PORTFOLIO EVERYDAY + McKluud ************/
#mck_wrapper {
    display: flex;
    flex-wrap: wrap;
}

#mck_2 {
    order: 1;
}

#mck_1 {
    order: 2;
}

#mck_wrapper p {
    color: white;
    margin-left: 5%;

}

#mck_wrapper b {
    font-size: 1.5vw;
    margin-left: 5%;
    color: white;
}

#mck_wrapper i {
    font-size: 1.1vw
}

.video {
    width: 90vw;
    height: 55vw;
}

.video iframe {
    width: 100%;
    height: 100%;
}

.video {
    display: flex;
    padding-top: 19px;
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (max-width: 560px) {
    .video {
        width: 50vw;
        height: auto;
    }
}

/************ STYLETILE SIDEN ************/


#styletile_wrapper {
    display: flex;
    flex-wrap: wrap;
}

#web_2 {
    order: 2;
}

#web_1 {
    order: 1;
}

#styletile_wrapper p {
    color: white;
    margin-left: 5%;

}

#styletile_wrapper b {
    font-size: 1.5vw;
    margin-left: 5%;
    color: white;
}

#styletile_wrapper i {
    font-size: 1.1vw
}

.pic_frame_styletile {
    width: 100%;
    height: 100%;

}


/************ OM SIDEN ************/



.cv_coloumn p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1vw;
    margin-bottom: 35px;

}

#cv_1 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1vw;
    margin-bottom: 25px;

}

#cv_2 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1vw;
    margin-bottom: 35px;

}


#sectionwrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

}

.cv_coloumn {
    width: 50%;
    flex-basis: 300px;
    flex-grow: 1;
    position: relative;
    top: 50px;
    margin: 0 50px;

}

#cv_2 {
    order: 2;
}

#cv_1 {
    order: 1;
}

#cv_text {
    text-align: center;
    top: 20px;
    position: sticky;

}

#cv_pic {
    background-image: url(tern.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    z-index: 2;
    border: 2px solid white;
    margin-bottom: 50px;
    margin: auto;
}



/************ FOOTER ************/

footer {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 1vw;
    width: 100%;
    height: 100%;
    text-decoration: none;
    margin-top: 3%;
    margin-bottom: 1%;

}




/************ NAVIGATION ************/

nav {
    text-align: center;
    font-size: 1.4em;
    margin: 5%;
}

nav .content a {
    display: inline-flex;
    padding: 4px 28px;
    border: 2px solid white;
    border-radius: 0px;
    font-family: 'ryeregular';
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

nav a:hover {
    background-color: white;
    color: black;
}

@media only screen and (max-width: 500px) {
    nav .content a {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: .2em;
    }
}

.ikon {
    width: 30%;
    height: 100%;
    display: block;
    margin: auto;


}

/*
    background-size: 100%;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    z-index: 2;
    border: 2px solid white;
    margin-bottom: 50px;
    margin: auto;
*/

/*
.dropdown > ul {
    display: none;
    position: relative;
    padding: 5px px;
    z-index: 1;
    padding: 1em;
}
*/

/*
.dropdown > ul li {
    white-space: nowrap;
    padding: 0 2em;
}

.dropdown:hover > ul {
    display: block;
}
*/
